<%= render "/shared/banner" %>
<div class="container">
  <div class="header d-flex justify-content-between">
    <h1> Search results </h1>
    <%= render "shared/search" %>
  </div>
  <div class="row">
    <%= render "/shared/cards" %>
  </div>
</div>
